<html>
    <head>
        <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
    </head>
    <body>
            <h1>All Users who registered via the web</h1>
            <a href="{{smsurl}}">{{smsurl_linktext}}</a>    
            <table>
                <thead>
	            <td> Full Name </td>
                    <td> Email </td>
                    <td> Expectation </td>
                    <td> Date registered </td>
                    <td>Confirmation No.</td>
                </thead>
        
	    {% for i in visitors %}
		    <tr>
			<td> {{ i.fname }} </td>
                        <td> {{ i.email }} </td>
                        <td> {{ e.expectation }}</td>
                        <td> {{ i.date|date:"l, M d Y" }} </td>
                        <td> {{ i.hash }} </td>
		    </tr>
            {% endfor %}
        
            </table>
        <a href="{{url}}">{{ url_linktext}}</a>
    </body>
</html>
