
<html>
<head>
<link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
<h1 id="heading">Web Registration</h1>
<fieldset>
    <legend>Registration Details</legend>
<form action="/webregister" method="post">
<div ><label for="fname">Your Full name* </label><input
     id="fname" type="text" value="" name="fname" />
<div ><label for="email">Email address* </label><input 
     id="email" type="text" value="" name="email" />
</div>
<div><label for="expectation">Your expectations </label>
<textarea id="expectation" cols="75" rows="8" name="expectation"></textarea></div>
</fieldset>
<div><input type="submit" value="Register" /> <input type="reset"	value="Clear" /></div>
</form>
</body>
</html>
